@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
/* Reset */

* {
    box-sizing: border-box;
}
html {
    font-family: 'Martian Mono', sans-serif;
}
body {
    margin: 0;
}
h1, h2, h3, h4, p, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    padding-left: 0;
    list-style: none;
}
img {
    width: 100%;
    display: block;
}
input {
    font-family: inherit;
    outline: none;
    border: none;
}
button {
    font-size: inherit;
    border: none;
    cursor: pointer;
}